.red {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: red;
  top: 200px;
  left: 200px;
}

.blue {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 100px;
}

.yellow {
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}